body {
    font-family: Arial, sans-serif;
    background: #f7f1e3;
    margin: 0;
    padding: 0;
}

header {
    background: #6d6875;
    padding: 30px;
    text-align: center;
    color: white;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.container p {
    line-height: 1.6;
    color: #333;
    font-size: 18px;
}
