<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videos</title>
</head>
<body>
    <h1>Videos information</h1>
    {% if blogs %}
    <table border="1" cellpadding="8">
        <tr>
            <th>Name</th>
            <th>content</th>
        </tr>
        {% for blog in blogs %}
        <tr>
            <td>{{ blog.name }}</td>
            <td>{{ blog.content }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h2>No blogs available yet</h2>
    {% endif %}
</body>
</html>
