<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube User</title>
</head>
<body>
    <h1>Youtube User List</h1>
    {% if users %}
    <table border="1" cellpadding="8">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Subscribers</th>
        </tr>
        {% comment %} This entire section is now cached {% endcomment %}
        {% load cache %}            {% comment %} Loading cache {% endcomment %}
        {% cache 30 users_cache %}  {% comment %} cache timeout cache_name {% endcomment %}

        {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.subscribers }}</td>
        </tr>
        {% endfor %}

        {% endcache %}
    </table>
    {% else %}
    <h2>No videos yet...</h2>
    {% endif %}
</body>
</html>
