<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videos</title>
</head>
<body>
    <h1>Videos information</h1>
    {% if videos %}
    <table border="1" cellpadding="8">
        <tr>
            <th>Name</th>
            <th>Views</th>
        </tr>
        {% for vid in videos %}
        <tr>
            <td>{{ vid.name }}</td>
            <td>{{ vid.views }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h2>No videos available yet</h2>
    {% endif %}
</body>
</html>
