{% extends "blogs/base.html" %}
{% block content %}

<h1 class="text-2xl font-semibold mb-6">All Posts</h1>

{% if posts %}
<ul class="space-y-3">
    {% for post in posts %}
    <li>
        <a
            href="{% url 'post_detail' post.pk %}"
            class="block bg-white p-4 shadow rounded hover:bg-gray-50"
        >
            {{ post.title }}
        </a>
    </li>
    {% endfor %}
</ul>

{% else %}
<div class="bg-white p-6 rounded-lg shadow">
    <p class="text-gray-600">No Posts to display...</p>
</div>
{% endif %}

{% endblock %}